<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Scopes</key>
	<array>
		<dict>
			<key>ModeIdentifier</key>
			<string>SEEMode.CSS</string>
			<key>GradientRegEx</key>
			<array>
				<string>\s*-webkit-linear-gradient</string>
				<string>\s*-ms-linear-gradient</string>
				<string>\s*-o-linear-gradient</string>
				<string>\s*-moz-linear-gradient</string>
				<string>\s*linear-gradient</string>
			</array>
			<key>Properties</key>
			<dict>
				<key>background</key>
				<dict>
					<key>ContextRegEx</key>
					<string>GradientRegEx</string>
				</dict>
				<key>background-image</key>
				<dict>
					<key>ContextRegEx</key>
					<string>GradientRegEx</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>ModeIdentifier</key>
			<string>SEEMode.SCSS</string>
			<key>GradientRegEx</key>
			<array>
				<string>\s*-webkit-linear-gradient</string>
				<string>\s*-ms-linear-gradient</string>
				<string>\s*-o-linear-gradient</string>
				<string>\s*-moz-linear-gradient</string>
				<string>\s*linear-gradient</string>
			</array>
			<key>Properties</key>
			<dict>
				<key>background</key>
				<dict>
					<key>ContextRegEx</key>
					<string>GradientRegEx</string>
				</dict>
				<key>background-image</key>
				<dict>
					<key>ContextRegEx</key>
					<string>GradientRegEx</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>ModeIdentifier</key>
			<string>SEEMode.LESS</string>
			<key>GradientRegEx</key>
			<array>
				<string>\s*-webkit-linear-gradient</string>
				<string>\s*-ms-linear-gradient</string>
				<string>\s*-o-linear-gradient</string>
				<string>\s*-moz-linear-gradient</string>
				<string>\s*linear-gradient</string>
			</array>
			<key>Properties</key>
			<dict>
				<key>background</key>
				<dict>
					<key>ContextRegEx</key>
					<string>GradientRegEx</string>
				</dict>
				<key>background-image</key>
				<dict>
					<key>ContextRegEx</key>
					<string>GradientRegEx</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>ModeIdentifier</key>
			<string>SEEMode.Sass</string>
			<key>GradientRegEx</key>
			<array>
				<string>\s*-webkit-linear-gradient</string>
				<string>\s*-ms-linear-gradient</string>
				<string>\s*-o-linear-gradient</string>
				<string>\s*-moz-linear-gradient</string>
				<string>\s*linear-gradient</string>
			</array>
			<key>Properties</key>
			<dict>
				<key>background</key>
				<dict>
					<key>ContextRegEx</key>
					<string>GradientRegEx</string>
				</dict>
				<key>background-image</key>
				<dict>
					<key>ContextRegEx</key>
					<string>GradientRegEx</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Size</key>
	<string>{326, 359}</string>
	<key>Title</key>
	<string>Gradient</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.css.gradient</string>
</dict>
</plist>
